# KiCad files to ignore
*\#auto_saved_files#
*_autosave*
*.kicad_prl
*-cache*
schematic-backups
*~*
*.bak
*.dcm
*.lib
*.mod
*.net
*.rpt
*.gbr
*.cmp
*.log
*.boms
*.pos
*.emn
*.gko
*.gpb
*.gml
*.gbrjob
*.gerbers
*.pdf
